
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .vd_bg-grey{background-color: #3c485c !important;}
    .light-widget .panel-heading{margin-top: 12px;}
    .vd_panel-menu{position: absolute; top: 7px;}
    .form-control{font-size: 12px; height: 31px; padding: 5px 8px; height: 29px;}
    .btn {padding: 4px 15px; font-size: 12px;}
    .pagination{margin: 0px 20px 0px;}
    .dataTables_paginate.paging_bootstrap{text-align: right;}
	
	
	
	/*  css start from  page footer*/
	
	  .report-sale-head {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 1rem;
    position: relative;
    border-radius: 5px;	
    /* box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); */
    background:#242424;
    border: 1px solid #404040;/*justify-content: space-between;*/
}

.report-sale-date {flex: 0 0 auto; width: 15%; } 
.report-sale-total{flex: 0 0 auto; width:70%;}
.report-sale-action-accordion{flex: 0 0 auto; width:5%; margin-left:10%}
.report-sale-action{flex: 0 0 auto; width:35%; padding-left: 120px;}
/* .report-sale-head:before {content: "\f107"; font-family: "FontAwesome"; font-weight: 900; padding: 0px; color: #444444; float: right; position: absolute; right: 15px; font-size: 24px; top: 12px; transition: .5s all ease-out; transform: rotate(360deg); }
*/
/*.report-sale-head.collapsed:before {content: "\f107"; transition: .5s all ease-out; transform: rotate(180deg); top:12px; right: 15px; }
*/

.report-sale-action-accordion i {
    font-size: 32px;
    transition: .5s all ease-out;
    transform: rotate(360deg);
    width: 40px; 
    height: 40px;
    text-align: center;
    line-height: 40px; 
    cursor: pointer;
    color: #fff;
}
.report-sale-head .report-sale-action-accordion.collapsed i{transition: .5s all ease-out; transform: rotate(180deg);}

.tabletitle {width: 100%;}


p.Payout-Request-title {
    color: #313131;
    margin: 0 0 5px 0;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.report-sale-total h2{
    color: #4b4d52;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.report-sale-total p {
   color: #8f97b2;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}
.report-sale-date h2{
   color: #4b4d52;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.report-sale-date p {
   color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}
.report-sale-accordion-card {
    background: #242424;
    border-radius: 5px;
    position: relative;
    border: 1px solid #242424;
    padding: 1rem;
    margin-bottom: 10px;
	overflow-x:auto;
}
input:focus{background-color:#228B22}
.report-sale-accordion-card table.dataTable{margin-top: 0;}
.tabletitle tr th,td{
    padding:5px 10px;
    color: #fff;
}
.dataTable tbody tr td{color:#fff;font-size: 12px;}
.btn-deinied{
    
    background-color:#fff8a6;
    color:#000;
    padding:7px 19px;
}
.table-hover>tbody>tr:hover>td{background:#26231a}
.btn:hover{color:#fff !important;}
.btn:focus{color:#fff !important;}
.btn-green{background-color: #228B22;font-size: 10px;font-weight: 500;  color: #fff; padding: 6px 15px; border-radius: 3px; display: inline-block; position: relative; outline: none; border: none; box-shadow: none; }
a.btn-AmountPaid {background: #6fbf17;font-size: 13px;font-weight: 500;  padding: 6px 15px; border-radius: 3px; display: inline-block; color: #fff; position: relative; outline: none; border: none; box-shadow: none; }
a.btn-deinied {background-color: #ff0000;font-size: 10px;font-weight: 500;  color: #fff; padding: 7px 19px; border-radius: 3px; display: inline-block; position: relative; outline: none; border: none; box-shadow: none; }

a.Payout-btn {background: #FB8904; font-size: 13px; color: #fff; font-weight: 500; padding: 6px 15px; border-radius: 3px; display: inline-block; position: relative; outline: none; border: none; box-shadow: none; }

a.btn-cancel{background: #d9433e;font-size: 13px;font-weight: 500;  padding: 6px 15px; border-radius: 3px; display: inline-block; color: #fff; position: relative; outline: none; border: none; box-shadow: none; }
a.btn-Accept{background-color:#6fbf17;font-size: 13px;font-weight: 500;  color: #fff; padding: 6px 15px; border-radius: 3px; display: inline-block; position: relative; outline: none; border: none; box-shadow: none; }

a.btn-Make-Payout{background:#5b08c9;font-size: 13px;font-weight: 500;  padding: 6px 15px; border-radius: 3px; display: inline-block; color: #fff; position: relative; outline: none; border: none; box-shadow: none; }
a.btn-Accepted{background: #6fbf17;font-size: 13px;font-weight: 500;  padding: 6px 15px; border-radius: 3px; display: inline-block; color: #fff; position: relative; outline: none; border: none; box-shadow: none; }

.table.dataTable thead th {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #fff !important;
    padding: 8px !important;
    border-top: none;
    border-bottom: 1px solid #f6ffe8 !important;
}
.table.dataTable thead{
    background:#3c3c3c;
}
